{% extends 'homepage/attoHome_base.html' %}
{% load staticfiles %}
{% block main_content %}
    <div class="container-fluid">
        <img src="{% static 'assets/img/brand/brand_intro_title.png' %}" class="img-responsive" alt="Responsive image">
        <br>
        <img src="{% static 'assets/img/brand/brand_intro_1_0.png' %}" class="img-responsive" alt="Responsive image">
        <img src="{% static 'assets/img/brand/brand_intro_1_1.jpg' %}" class="img-responsive" alt="Responsive image" style="width:80%; margin:0 auto">
        <br>
        <img src="{% static 'assets/img/brand/brand_intro_1_2.png' %}" class="img-responsive" alt="Responsive image">
        <br>
        <img src="{% static 'assets/img/brand/brand_intro_2_0.png' %}" class="img-responsive" alt="Responsive image">
        <img src="{% static 'assets/img/brand/brand_intro_2_1.png' %}" class="img-responsive" alt="Responsive image">
        <br>
        <img src="{% static 'assets/img/brand/brand_intro_2_0.png' %}" class="img-responsive" alt="Responsive image">
        <div class="embed-responsive embed-responsive-16by9" style="width:80%; margin:0 auto">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_-7eNlO-fLQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <br>
        <img src="{% static 'assets/img/brand/brand_intro_1_2.png' %}" class="img-responsive" alt="Responsive image" style="width:80%; margin:0 auto">
        <br>
    </div>
{% endblock %}