{% extends 'homepage/attoHome_base.html' %}
{% load staticfiles %}
{% block main_content %}
    <style>
        .best{
            background-color: #ffffff;
        }

        .td-best{
            width:10%;
            text-align: center;
        }

        .td-href{
            width:90%;
            text-align: center;
        }
    </style>
    <script>

    </script>
    <div class="container-fluid">
        <div class="best">
            <div class="best-header">
                <h4>
                    <span>자주묻는 질문 BEST 5</span>
                </h4>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <a href="">
                    <tr>
                        <td class="td-best">
                            <img src="{% static 'assets/img/logo.png' %}" width="25px" height="25px"/>
                        </td>
                        <td class="td-href">
                            아토큐브란 무엇인가요?아토큐브란 무엇인가요?아토큐브란 무엇인가요?
                        </td>
                    </tr>
                    </a>
                    <tr>
                        <td class="td-best">
                            <img src="{% static 'assets/img/logo.png' %}" width="25px" height="25px"/>
                        </td>
                        <td class="td-href">
                            아토큐브란 무엇인가요?아토큐브란 무엇인가요?아토큐브란 무엇인가요?
                        </td>
                    </tr>
                    <tr>
                        <td class="td-best">
                            <img src="{% static 'assets/img/logo.png' %}" width="25px" height="25px"/>
                        </td>
                        <td class="td-href">
                            아토큐브란 무엇인가요?아토큐브란 무엇인가요?아토큐브란 무엇인가요?
                        </td>
                    </tr>
                    <tr>
                        <td class="td-best">
                            <img src="{% static 'assets/img/logo.png' %}" width="25px" height="25px"/>
                        </td>
                        <td class="td-href">
                            아토큐브란 무엇인가요?아토큐브란 무엇인가요?아토큐브란 무엇인가요?
                        </td>
                    </tr>
                    <tr>
                        <td class="td-best">
                            <img src="{% static 'assets/img/logo.png' %}" width="25px" height="25px"/>
                        </td>
                        <td class="td-href">
                            아토큐브란 무엇인가요?아토큐브란 무엇인가요?아토큐브란 무엇인가요?
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
