<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Q&A</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="best">
            <div class="best-header">
                <h4>
                    <span>자주묻는 질문 BEST 5</span>
                </h4>
            </div>
            <div class="best-main">
            </div>
        </div>
    </div>
</body>
</html>