{% extends "homepage/attoHome_base.html" %}

{% load staticfiles %}
{% load custom_tags %}

{% block slider %}
	{% include 'homepage/main_slider.html' with images=imgs %}
{% endblock slider %}

{% block main_content %}
	<br>
	<img src="{% static 'assets/img/slogan.jpg' %}" style="width:100%">
	<br>
<!-- 아이템 리스트 -->
 	{% if items %}
    <div id="items">
        <!-- Carousel items -->
        <div class="container">
            {% for item in items %}
                <!-- modulo 연산 (built in)-->
                {% if forloop.counter|divisibleby:3 %}
				<div class="row">
                {% endif %}
                    <div class="shopItem col-sm-4" style="align:center">
                        <a href="#">
                            <img src="{{MEDIA_URL}}/{{item.image}}" alt="Image" class="img-responsive">
                        </a>
                            {{item.itemName}} <br>
                            {% if item.sale == 0 %}
								<p class="price">{{item.price}}</p>
							{% else %}
								<s><small class="center">{{ item.price }}</small></s>
								<p class="center">{% sub item.price item.sale %}</p>
							{% endif %}
                    </div>
                {% if forloop.counter|divisibleby:3 %}
				</div><!--/row-->
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
<!-- 아이템 리스트 끝 -->
{% endblock main_content %}
