{% extends "homepage/attoHome_base.html" %}

{% load staticfiles %}
{% load custom_tags %}

{% block slider %}
	{% include 'homepage/main_slider.html' with images=imgs %}
{% endblock slider %}

{% block main_content %}
<div class="container-fluid">
	<img src="{% static 'assets/img/slogan.jpg' %}" class="img-responsive" alt="Responsive image" style="margin-top:2%;">

	{% if items %}
        <div class="row" style="margin-top: 2%;">
		{% for item in items %}
		<!-- modulo 연산 (built in)-->
				<div class="shopItem col-xs-6 col-sm-3" style="margin-bottom: 2%;">
					<div class="shopItemInner">
						<a href="/shop/detail?itemId={{item.id}}">
							<img src="{{MEDIA_URL}}/{{item.image}}" alt="Image" class="img-responsive">
						</a>
						{{item.itemName}} <br>
						{% if item.sale == 0 %}
						<p class="price">{{item.price}}</p>
						{% else %}
						<p class="price center">
							<del><small>{{ item.price }}</small></del>
							{% sub item.price item.sale %}
						</p>
						{% endif %}
					</div>
				</div>
		{% endfor %}
        </div><!--/row-->
    {% endif %}
	<div class="row" style="margin-top:2%;">
    	<center>
        	<div class="col-sm-6 col-xs-12" style="margin-bottom:2%;">
            	<a href="/shop"> <img src="{% static 'assets/img/shop/newProduct.jpg' %}"  class="img-responsive" alt="Responsive image" ></a>
			</div>
			<div class="col-sm-6 col-xs-12" style="margin-bottom:2%;">
				<a href="/news"><img src="{% static 'assets/img/shop/newProduct.jpg' %}" class="img-responsive" alt="Responsive image"></a>
			</div>
		</center>
    </div>
	<div class="row" style="margin-top: 2%;">
    	<center>
			<div class="col-sm-3 col-xs-6">
				<img src="{% static 'assets/img/shop/atto_profit_01.png' %}" class="img-responsive" alt="Responsive image">
			</div>
			<div class="col-sm-3 col-xs-6">
				<img src="{% static 'assets/img/shop/atto_profit_02.png' %}" class="img-responsive" alt="Responsive image">
			</div>
			<div class="col-sm-3 col-xs-6">
				<img src="{% static 'assets/img/shop/atto_profit_03.png' %}" class="img-responsive" alt="Responsive image">
			</div>
			<div class="col-sm-3 col-xs-6">
				<img src="{% static 'assets/img/shop/atto_profit_04.png' %}" class="img-responsive" alt="Responsive image">
			</div>
		</center>
    </div>
</div>
{% endblock main_content %}
