{% extends "homepage/attoHome_base.html" %}
{% load staticfiles %}
<link rel="stylesheet" href = "{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
<h1> 로그인 </h1>
{% block main_content %}
    <style>

    </style>
    <form method="post" action="{% url 'userLogin' %}">
        {% csrf_token %}
        <!--<p>User name : {{ form.username }}</p>
        <p>password : {{ form.password }}</p>
          -->

        <div class="container">
{#            <br/><br/><br/><br/><br/>#}
            <div class="row">
                <div class="col-xs-4 col-sm-5"></div>
                <div class="col-xs-4 col-sm-2">
                    <img src="{% static 'assets/img/logo.png' %}" class="img-responsive" id="logo" style="margin: 0 auto;">
                </div>
                <div class="col-xs-4 col-sm-5"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 col-sm-2"></div>
                <div class="col-xs-10 col-sm-8">
                    <div class="form-group">
                        <label for="exampleInputEmail1">아이디</label>
                        <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="아이디를 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">암호</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="암호">
                    </div>

                    <div style="margin-bottom: 2%; text-align: center;">
                        <input type="submit" value="로그인" class="btn btn-default btnali" style="display: inline;margin-right: 20px;"/>
                        <a href="/signup" role="button" class="btn btn-default" >회원가입</a>
                    </div>

                    <input type="hidden" name="next" value="/home"/>
                </div>
                <div class="col-xs-1 col-sm-2"></div>
            </div>
        </div>
    </form>

    {% if form.errors %}
        <p class="textal">ID나 비밀번호가 일치하지 않습니다.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="textal">권한이 없는 페이지에 접근하였으니, 권한이 있는 계정으로 로그인하세요.</p>
        {% else %}
            <p class="textal">이 페이지를 보려면 로그인을 해야 합니다.</p>
        {% endif %}
    {% endif %}

{% endblock main_content %}