{% extends "homepage/attoHome_base.html" %}
{% load staticfiles %}
<link rel="stylesheet" href = "{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
<h1> 로그인 </h1>
{% block main_content %}
    <style>
        .loginbox {
            width: 30%;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 10px;
        }
        .impad{
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 20px;
        }
        .btnali{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    .textal{
        text-align: center;
    }
    .setcolor{
        padding-bottom:20px;
    }
    </style>
    <form method="post" action="{% url 'userLogin' %}">
        {% csrf_token %}
        <!--<p>User name : {{ form.username }}</p>
        <p>password : {{ form.password }}</p>
          -->


        <div class="setcolor">
            <img src="{% static 'assets/img/logo.png' %}" width="150px" class="impad">

            <div class="loginbox">
                <input type="text" name="username" value="" placeholder="id"  class="form-control"/>
                <input type="password" name="password" value="" placeholder="password"  class="form-control"/>
                <br/>
            </div>
            <input type="submit" value="로그인" class="btn btn-default btnali"/>
            <input type="hidden" name="next" value="/home"/>
        </div>

    </form>

    {% if form.errors %}
        <p class="textal">ID나 비밀번호가 일치하지 않습니다.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="textal">권한이 없는 페이지에 접근하였으니, 권한이 있는 계정으로 로그인하세요.</p>
        {% else %}
            <p class="textal">이 페이지를 보려면 로그인을 해야 합니다.</p>
        {% endif %}
    {% endif %}

{% endblock main_content %}