<style>
    .footerout{
        position: relative; bottom : 0px; border-top:5px solid deeppink; width:100%;
        clear:both;
    }
    .footer1{
        float:left;padding-left:20px; width:60%;
    }
    .footer2{
        float:left;padding-right:20px;width:40%;
    }
    .tel{
        padding-left : 15px;
    }
    @media screen and (max-width: 480px){
       .footer1{
        float:none;width:100%;margin:auto;padding-left: 0px;
    }
    .footer2{
        float:none;width:100%;margin:auto;padding-right: 0px;
    }
    .tel{

    }
    .footerout{
        padding:0px;
        margin:0px;
    }
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="footerout">
    <div class="footer1">
        <div>
            <h2><strong><u>Customer call</u></strong></h2>
        </div>
        <div class="tel">
            <h1><strong><b><a href="tel:1833-7912">1833-7912</a></b></strong></h1>
        </div>
        <div >
            <h5><b>평일 : AM 10:00~PM 06:00</b></h5>
            <h5><b>점심시간 : AM 11:30~PM 12:30</b></h5>
            <h5><b>토요일, 일요일, 공휴일 휴무</b></h5>
        </div>
    </div>
    <div class="footer2">
        <div>
            <h2><strong><u>About Us</u></strong></h2>
        </div>
        <div >
            <h5><b>아토큐브(주)</b></h5>
            <h5><b>대표자 : 한상택</b></h5>
            <h5><b>사업자 등록 번호 : 144-81-23919</b></h5>
            <h5><b>Email : <a href="mailto:attocube@attocube.co.kr">attocube@attocube.co.kr</a></b></h5>
            <h5><b>주소 : 경기도 성남시 분당구 대왕판교로 645번길 12 경기창조 경제혁신센터 8층 R15</b></h5>
            <h5><b>통신판매업 : <a href="http://www.ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2015378021930201788&area1=&area2=&currpage=1&searchKey=04&searchVal=1448123919">
                2015-경기성남-1788</a></b></h5>
        </div>
    </div>
</div>
