{% load staticfiles %}

{% block additional_assets %}
	<script type="text/javascript">
            $(document).ready(function() {
                $('#mainSlider').carousel('cycle');
            });
    </script>
{% endblock additional_assets %}

<div>
	<div id="mainSlider" class="carousel slide" data-ride="carousel" data-interval="3000">
	<!-- 슬라이더 그림 개수 설정 -->
 	  <ol class="carousel-indicators">
	    {% if images %}
            {% for img in images %}
                {% ifequal 0 forloop.counter0 %}
                    <li data-target="#mainSlider" data-slide-to="0" class="active"></li>
                {% else %}
                    <li data-target="#mainSlider" data-slide-to= {{forloop.counter0}} class=""></li>
                {% endifequal %}
    	   	{% endfor %}
	    {% else %}
		<!-- 뭔가 예외처리 하기 (이미지가 없는경우) -->
	    {% endif %}
	  </ol>
	<!-- 슬라이더 그림수 만큼 이미지 넣기 -->
	  <div class="carousel-inner" role="listbox">
          {% if images %}
            {% for img in images %}
                {% ifequal 0 forloop.counter0 %}
                        <div class="item active">
                          <img src="{% static 'downloads' %}/{{img.image}}" />
                        </div>
                {% else %}
                        <div class="item">
                          <img src="{% static 'downloads' %}/{{img.image}}" />
                        </div>
                {% endifequal %}
            {% endfor %}
          {% else %}
            <!-- 뭔가 예외처리 하기 (이미지가 없는 경우) -->
          {% endif %}
	  </div>
            <!-- 슬라이더 화살표 -->
        <a class="left carousel-control" href="#mainSlider" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#mainSlider" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
	</div>
</div>