{% load staticfiles %}

<nav class = "navbar navbar-default" >
	<div class = "container-fluid">
		<div class = "navbar-header">
			<!-- 햄버거 메뉴-->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				{% if menuNav %}
					{% for menu in menuNav %}
						<span class="icon-bar"></span>
					{% endfor %}
				{% else %}
					<!-- 메뉴가 없는경우 = 유저 role 이 없는경우 일듯 -->
				{% endif %}
		  	</button>
			<a class = "navbar-brand" href="/home" style="padding:8px 10px 8px 10px" >
                <img src="{% static 'assets/img/logo.png' %}" width="40px">
			</a>
		</div>
		<!-- 사이즈 줄어들면 사라질 부분 -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<!--기본메뉴-->
			<ul class="nav navbar-nav">
			{% if menuNav %}
				{% for key,value in menuNav %}
					{% ifequal 0 forloop.counter0 %}
						<li role="presentation" class="active"><a href={{value}}> {{key}} </a></li>
					{% else %}
						<li role="presentation"><a href={{value}}> {{key}} </a></li>
					{% endifequal %}
				{% endfor %}
			{% else %}
					<!-- 메뉴가 없는경우 = 유저 role 이 없는경우 일듯 -->
			{% endif %}
         	</ul>
			<!-- 로그인 부분(네비게이션바 오른쪽) 메뉴 -->
			<ul class="nav navbar-nav navbar-right" id="navbar-collapse-loginForm">
			{% if menuRightNav %}
				{% for key,value in menuRightNav %}
					<li role="presentation">
						<button type="button"  class="btn btn-default navbar-btn" onclick={{value}}>
						{{key}}
						</button>
					</li>
				{% endfor %}
			{% else %}
					<!-- 메뉴가 없는경우 = 유저 role 이 없는경우 일듯 -->
			{% endif %}
			</ul>
		</div>
	</div>
</nav>
