{% extends "homepage/attoHome_base.html" %}

{% load staticfiles %}
{% load custom_tags %}

{% block additional_assets %}
   <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
{% endblock additional_assets %}

{% block slider %}
    {% include 'homepage/main_slider.html' with images=imgs %}
    <br>
    <br>
    {% include 'homepage/item_slider.html' %}
{% endblock slider %}

{% block main_content %}
    {% if items %}
    <div id="items">
        <!-- Carousel items -->
        <div class="carousel-inner">
            {% for item in items %}
                <!-- modulo 연산 (built in)-->
                {% if forloop.counter|divisibleby:3 %}
                <div class="item active">
                    <div class="row">
                {% endif %}
                    <div class="col-sm-4" style="align:center">
                        <a href="#">
                            <img src="{% static 'downloads' %}/{{item.image}}" alt="Image" class="img-responsive">
                        </a>
                        <div >
                            {{item.itemName}} <br>
                            {% if item.sale == 0 %}
                               <p class="price">{{item.price}}</p>
                                {% else %}
                                    <s><small class="center">{{ item.price }}</small></s>
                                    <p class="center">{% sub item.price item.sale %}</p>
                                {% endif %}
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div><!--/row-->
                </div><!--/item-->
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock main_content %}
