body
{
  padding-top : 0px;
}
center
{
    font-size:15px;
}

.price {
    font-size: 10px;
}

.beforeSale {
    font-size: 7px;
}
.ham{
    width:100%;
}

.imgBtn
{
    cursor:pointer;
}


/*
    mainContainer
*/
#mainContainer
{
    background-size: 80%;
    background-clip:content-box;
}

#fixed {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 100px;
    right: 20px;
}

#footersty{
    bottom : 0px;
}

/*
------------------------------------------------------------
    footer
*/
.footerout{
    position: relative; bottom : 0px; border-top:5px solid #EF86AE; width:100%;
    clear:both;
    background-color: #ffffff;
}
.footer1{
    float:left;padding-left:20px; width:60%;
}
.footer2{
    float:left;padding-right:20px;width:40%;
}

.tel{
    padding-left : 15px;
}
.fontsize{

}

@media screen and (max-width: 480px){
       .footer1{
        float:none;width:100%;margin:auto;padding-left: 0px;
    }
    .footer2{
        float:none;width:100%;margin:auto;padding-right: 0px;
    }
    .tel{

    }
    h1{
        font-size:20px;
    }
    h2{
        font-size:15px;
    }
    h5{
        font-size:12px;
    }
}

/*
------------------------------------------------------------
    toolbar
*/
#top_Toolbar
{
    position: relative;
    width:100%;
    background-color: rgba(255,255,255,1);
    border-color:rgba(0,0,0,0);
    margin-bottom:0px;
    min-height:1%;
}
#top_Toolbar a
{
    font-size: 12px;
    padding: 5px 30px 5px 0px;
}

#top_Toolbar ul
{
    float:right;
}

#top_Toolbar ul li
{
    float:left;
}


/*
    navbar
*/
#navMenu
{
    background-color: rgba(255,255,255,1);
    border-color:rgba(0,0,0,0);
    border-bottom:5px solid #EF86AE;

}
.navbar-brand
{
    border-right:2px solid #6CCEF5;
    height:100%;
    /*padding:12px;*/
    /*margin: 30% 0px 10% 0px;*/
}
#navbar
{
    width:90%;
    padding-left:5px;

}

#navbar a
{
    padding:0px;
}

#navbar li
{
    width:16%;
}
@media screen and (max-width: 767px) {
    #navbar li{
        width : 100%;
    }
    .navbar-header
    {
        width:100%;
        vertical-align:center;
    }
    .navbar-brand
    {
        margin:0px 0px 5px 0px;
    }
    .navbar-toggle
    {
        //display:table-cell;
        margin: 11px 0px 0px 0px;
    }

}

.navbar-toggle li
{
    width:50%;
}

.eName{
    text-align: center;
    font-size:5px;
    color:#EF86AE;
    font-weight:bold;
}

.kName{
    text-align: center;
    margin-top:20px;
    font-size:17px;
    font-weight:bold;
}

/*
    nav list
*/
#navItem1
{
    border-top:10px solid #EF86AE;
    transition: 0.08s ease-in;
}
#navItem1:hover
{
    background: #EF86AE;
}

#navItem2
{
    border-top:10px solid #6CCEF5;
    transition: 0.08s ease-in;
}
#navItem2:hover
{
    background: #6CCEF5;
}

#navItem3
{
    border-top:10px solid #099A55;
    transition: 0.08s ease-in;
}
#navItem3:hover
{
    background: #099A55;
}

#navItem4
{
    border-top:10px solid #F4883D;
    transition: 0.08s ease-in;
}
#navItem4:hover
{
    background: #F4883D;
}

#navItem5
{
    border-top:10px solid #6CCEF5;
    transition: 0.08s ease-in;
}
#navItem5:hover
{
    background: #6CCEF5;
}

#navItem6
{
    border-top:10px solid #A6D060;
    transition: 0.08s ease-in;
}
#navItem6:hover
{
    background: #A6D060;
}

#navbar li:hover .kName, li:hover .eName
{
    color: white;
}

/*
    item list
*/
#itemContainer
{
    width:100%;
    padding:0px;
}

.row
{
    width:100%;
    margin:auto;
    display:block;
    text-align:center;
    content-align:center;
}

.shopItem
{
    padding: 5%;
}

.shopItemInner
{
    background : #ffffff;
    border:5px solid #6CCEF5;
}

@media screen and (max-width: 768px) {

    .shopItemInner
    {
        border:3px solid #6CCEF5;
    }

    .col-xs-12
    {
        margin:auto;
        padding:5% 20% 5% 20%;
    }
}

/*
------------------------------------------------------------
    news
------------------------------------------------------------
*/
#newsPage
{
    padding: 3% 5% 3% 5%;
}
.headLine
{
    width:100%;
    color:#FFFFFF;
    background-color:#6CCEF5;
}
/*
------------------------------------------------------------
    news_detail
------------------------------------------------------------
*/

#newsComments
{
    border-top:2px solid #000000;
}

/*
------------------------------------------------------------
    item_news_detail
------------------------------------------------------------
*/
#itemQuantity
{
    text-align:center;
    border:1px solid #aaa;
}

#itemReviews
{
    border-top:2px solid #aaa;
}

#reviewList
{
    border-top:2px solid #aaa;
}

#itemInfo
{
    background-color: white;
    margin:10% 0 10% 0;
    padding:5%;
    border: 2px solid #aaa;
}

#reviewContent
{
    width:100%;
    box-sizing:border-box;
}

.reviewItem
{
    padding:5%;
    border: 1px solid #aaa;
}
.reviewImg
{
    border: 1px solid #aaa;
}
.reviewTxt
{
    padding:5% 10% 5% 10%;
    text-align:left;
    background-color: white;
}

.reviewItem .col-xs-8
{
    padding:0px;
}
#reviewMenu
{
    position: relative;
    padding: 3%;
}
#reviewAdd
{
    position: absolute;
    right: 1%;
    bottom: 20%;
}
/*
------------------------------------------------------------
    qa
------------------------------------------------------------
*/
.bests{
    cursor: pointer;
    font-size: medium;
    padding: 1.5%;
    border-bottom: 1px solid #d5d5d5;
}

#hidden0, #hidden1, #hidden2, #hidden3, #hidden4 {
    padding: 1.5%;
    font-size: medium;
    cursor:pointer;
    display: none;
    background-color: #2b669a;
    border: 3px solid #2b669a;
    border-radius: 3px;
    color: white;
}

.text-label{
    margin:0 auto;
}