.price {
    font-size: 10px;
}

.beforeSale {
    font-size: 7px;
}

body {
    padding-top: 65px;
}

#top_Toolbar
{
    background-color: rgba(0,0,0,0);
    //border-color:rgba(0,0,0,0);
}
#top_Toolbar a
{
    font-size: 11px;
    padding: 5px 10px 5px 10px;
}

#bodyID
{
    padding : 30px 15px 0px 15px;
    background-size: 80%;
    background-clip:content-box;
}

.navbar-fixed-top {
    min-height: 20px;
}
