body
{
  padding-top : 0px;
}
center
{
    font-size:15px;
}

.price {
    font-size: 10px;
}

.beforeSale {
    font-size: 7px;
}

#top_Toolbar
{
    position: relative;
    width:100%;
    min-height: 20px;
    background-color: rgba(255,255,255,1);
    border-color:rgba(0,0,0,0);
    margin-bottom:0px;
}
#top_Toolbar a
{
    font-size: 12px;
    padding: 5px 30px 5px 0px;
}

#mainContainer
{
    background-size: 80%;
    background-clip:content-box;
}

#navMenu
{
    background-color: rgba(255,255,255,1);
    border-color:rgba(0,0,0,0);
    border-bottom:5px solid #EF86AE;

}
.navbar-header
{
    border-right:2px solid #6CCEF5;

}
#navbar
{
    width:95%;

}

#navbar li
{
    width:16%;
}

#navItem1
{
    border-top:10px solid #EF86AE;
    transition: 0.08s ease-in;
}
#navItem1:hover
{
    background: #EF86AE;
}

#navItem2
{
    border-top:10px solid #6CCEF5;
    transition: 0.08s ease-in;
}
#navItem2:hover
{
    background: #6CCEF5;
}

#navItem3
{
    border-top:10px solid #099A55;
    transition: 0.08s ease-in;
}
#navItem3:hover
{
    background: #099A55;
}

#navItem4
{
    border-top:10px solid #F4883D;
    transition: 0.08s ease-in;
}
#navItem4:hover
{
    background: #F4883D;
}

#navItem5
{
    border-top:10px solid #6CCEF5;
    transition: 0.08s ease-in;
}
#navItem5:hover
{
    background: #6CCEF5;
}

#navItem6
{
    border-top:10px solid #A6D060;
    transition: 0.08s ease-in;
}
#navItem6:hover
{
    background: #A6D060;
}

#navbar li a:hover
{
    color: #ffffff;
}

.shopItem
{
    background : #ffffff;
    border:5px solid #6CCEF5;
    margin: 10px;
}

.shopitem a>img
{
    max-width: 50%;
}