{% extends "homepage/attoHome_base.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block main_content %}

<div id="newsPage">
    <img src="{% static 'assets/img/news/kingmonim.jpg' %}" style="width:100%">
    <br>
    <img src="{% static 'assets/img/news/logo.png' %}" style="width:100%">
    <br>
    <div id="feeds">
        {% if posts %}
            <div class="container-fluid" id="itemContainer">
                {% for post in posts %}
                    <!-- modulo 연산 (built in)-->
                    {% if forloop.counter0|divisibleby:3 %}
                    <div class="row">
                    {% endif %}
                        <div class="feed col-xs-4 col-md-4">
                            <a href="detail?newsPost={{post.id}}">
                                <img src="{{MEDIA_URL}}/{{post.image}}" alt="post_Image" class="news-img img-responsive">
                            </a>
                            <p class="headLine">{{post.headLine}}</p>
                        </div>
                    {% if forloop.counter|divisibleby:3 %}
                    </div><!--/row-->
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock main_content %}
