{% extends 'homepage/attoHome_base.html' %}
{% load staticfiles %}
{% block main_content %}

    <div xmlns="http://www.w3.org/1999/html">
        {#    {% for list in basketlist %}#}
        {#        <h2>{{ basketlist.list }}</h2>#}
        {#    {%  endfor %}#}
        <h2>장바구니({{ datas|length }})</h2>
    </div>
    <div>
        <table class="table">
            <tr>
                <th>상품정보</th>
                <th>상품금액</th>
                <th>배송비</th>
            </tr>
                {% for k in datas.values %}
                <tr>
{#                    {% for list in datas.data1.values %}#}
                    <td>{{ k.name }}</td>
                    <td>{{ k.price }}</td>
                    <td>{{ k.deliprice }}</td>
{#                    {% endfor %}#}
                    <td>
                        <button   class="btn btn-default" onclick="delete {{ datas }}.{{ k.name }}">{{ k.name }} </button>
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}