{% extends "homepage/attoHome_base.html" %}

{% load staticfiles %}
{% load custom_tags %}

{% block additional_assets %}
   <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
{% endblock additional_assets %}

{% block slider %}
    {% include 'homepage/main_slider.html' with images=imgs %}
{% endblock slider %}

{% block main_content %}
   {% if items %}
        <div class="container" id="itemContainer">
            <div class="row">
				{% for item in items %}
					<!-- modulo 연산 (built in)-->
						<div class="shopItem col-sm-4 col-xs-12 ">
							<div class="shopItemInner">
								<a href="/shop/detail?itemId={{item.id}}">
									<img src="{{MEDIA_URL}}/{{item.image}}" alt="Image" class="img-responsive">
								</a>
									{{item.itemName}} <br>
									{% if item.sale == 0 %}
										<p class="price">{{item.price}}</p>
									{% else %}
										<p class="price center">
										<del><small>{{ item.price }}</small></del>
										{% sub item.price item.sale %}
										</p>
									{% endif %}
							</div>
						</div>
				{% endfor %}
			</div><!--/row-->
        </div>
    {% endif %}
{% endblock main_content %}
