{% extends "homepage/attoHome_base.html" %}

{% load staticfiles %}
{% load custom_tags %}

{% block additional_assets %}
   <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
{% endblock additional_assets %}

{% block main_content %}
    <div class="container-fluid">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_-7eNlO-fLQ"></iframe>
        </div>
    </div>
   {% if items %}
        <div class="container-fluid" id="itemContainer">
            <div class="row">
				{% for item in items %}
					<!-- modulo 연산 (built in)-->
						<div class="shopItem col-sm-3 col-xs-6 ">
							<div class="shopItemInner">
								<a href="/shop/detail?itemId={{item.id}}">
									<img src="{{MEDIA_URL}}/{{item.image}}" alt="Image" class="img-responsive">
								</a>
									{{item.itemName}} <br>
									{% if item.sale == 0 %}
										<p class="price">{{item.price}}</p>
									{% else %}
										<p class="price center">
										<del><small>{{ item.price }}</small></del>
										{% sub item.price item.sale %}
										</p>
									{% endif %}
							</div>
						</div>
				{% endfor %}
			</div><!--/row-->
        </div>
    {% endif %}
{% endblock main_content %}
