{% extends 'homepage/attoHome_base.html' %}
{% load staticfiles %}
{% block main_content %}
    <style>
    .toptop{
        padding-top: 50px;
    }
    .topimg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
    }
    .two{
        width:20%;
    }

    .m0{
        margin:0px;
    }
    .video{
         padding-left:10%;
    }
    @media screen and (max-width: 767px) {

    .video{
        float:left;padding-left:0%;
    }
}
    </style>
    <div class="container">
    <div class="row">
    <div  class="col-md-12 col-xs-12">
        <img src="{% static 'assets/img/downup.png' %}" class="img-responsive" alt="Responsive image">
    </div>
    </div>
        <center>
       <table>
           <tr>
               <td>
                <a href="downcontents"> <img src="{% static 'assets/img/downleft.png' %}"  class="img-responsive" alt="Responsive image" ></a>
                </td>
               <td>
                <a><img src="{% static 'assets/img/downright.jpg' %}" class="img-responsive" alt="Responsive image"></a>
                </td>
           </tr>
       </table>
            </center>
        <img src="{% static 'assets/img/downtext1.png' %}"  class="img-responsive" alt="Responsive image">


        <center>
            <div class="video">
                <img src="{% static 'assets/img/downcircle1.png' %}" class="img-responsive" alt="Responsive image" style="float: left">
                <img src="{% static 'assets/img/downcircle2.png' %}" class="img-responsive" alt="Responsive image" style="float: left">
                <img src="{% static 'assets/img/downcircle3.png' %}" class="img-responsive" alt="Responsive image" style="float: left">
            </div>
        </center>
    </div>
{% endblock %}