{% extends 'homepage/attoHome_base.html' %}
{% load staticfiles %}
{% block main_content %}
    <style>
        .downcontentstext{
           display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <img src="{% static 'assets/img/downcontentstext1.png' %}"class="downcontentstext">

    {% for content in contents %}
    <div class="downcontentstext" style="width:75%;margin-top: 50px; clear:both">
        <div style="float:left; margin-right: 15px;margin-top: 30px">
            <iframe width="560" height="315" src="{{ content.source }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div>
            <div style="padding-top: 20px">
                <h4><b>{{ content.text }}</b></h4>
            </div>
            <div style="margin-top: 40px">
                <img src="{% static 'assets/img/downloadbtn.png' %}">
            </div>
        </div>
    </div>

    {% endfor %}
{% endblock %}