{% extends 'homepage/attoHome_base.html' %}
{% load staticfiles %}
{% block main_content %}
   <div class="downloadTeacherContainer container-fluid">
       <div class="row">
           <div class="col-xs-4"></div>
           <div class="col-xs-4">
               <img src="{% static 'assets/img/download/teacher/slogan.png' %}"  class="img-responsive">
           </div>
           <div class="col-xs-4"></div>
       </div>

       <div class="row">
           <div class="col-xs-12">
               <img src="{% static 'assets/img/download/teacher/injae.png' %}"  class="img-responsive">
           </div>
       </div>
       <div class="container-fluid">
           <div class="row">
               <div class="col-xs-12">
                   <img src="{% static 'assets/img/download/teacher/injae_main.png' %}"  class="img-responsive">
               </div>
           </div>
           <div class="row">
               <div class="col-xs-12">
                   <img src="{% static 'assets/img/download/teacher/injae_txt.png' %}"  class="img-responsive">
               </div>
           </div>
       </div>

       <br>

       <div class="row">
           <div class="col-xs-12">
               <img src="{% static 'assets/img/download/teacher/gyoyuk.png' %}"  class="img-responsive">
           </div>
       </div>
       <div class="container-fluid">
           <div class="row">
               <div class="col-xs-4">
                   <img src="{% static 'assets/img/download/teacher/teachingInfo01.png' %}"  class="img-responsive">
               </div>
               <div class="col-xs-4">
                   <img src="{% static 'assets/img/download/teacher/teachingInfo02.png' %}"  class="img-responsive">
               </div>
               <div class="col-xs-4">
                   <img src="{% static 'assets/img/download/teacher/teachingInfo03.png' %}"  class="img-responsive">
               </div>
           </div>
           <div class="row">
               <div class="col-xs-4">
                   <img src="{% static 'assets/img/download/teacher/teachingInfo04.png' %}"  class="img-responsive">
               </div>
               <div class="col-xs-4">
                   <img src="{% static 'assets/img/download/teacher/teachingInfo05.png' %}"  class="img-responsive">
               </div>
               <div class="col-xs-4">
                   <img src="{% static 'assets/img/download/teacher/teachingInfo06.png' %}"  class="img-responsive">
               </div>
           </div>
           <dic class="row">
               <div class="col-xs-12">
                   <img src="{% static 'assets/img/download/teacher/teaching.jpg' %}"  class="img-responsive">
               </div>
           </dic>

           <dic class="row">
               <div class="col-xs-4"></div>
               <div class="col-xs-4">
                   <img src="{% static 'assets/img/download/teacher/chuhoo.png' %}" class="img-responsive" style="margin-bottom:30%;">
               </div>
               <div class="col-xs-4"></div>
           </dic>
       </div>
   </div>
{% endblock %}